/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-button {
    border: 2px solid #000;
    background-color: #6dcff6;
    color: #000;
    // width: 100%;
    display: block;
    text-align: center;
    font-size: 3.2rem;
    line-height: 0.5;
    font-weight: 700;
    padding: 30px 0;
}
