/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: -50px;

    &--anchor2 {
        justify-content: space-between;
        padding-top: 27px;
        margin-left: 0;
    }
}
