.c-post {
    display: flex;

    .c-post__image {
        flex: 1 1 350px;
        position: relative;
    }

    .c-post__content {
        flex: 1 1 610px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #222;

        .c-post__title {
            font-size: 1.6rem;
            flex: 0;
            line-height: 1;
            color: #222;
        }

        .c-post__text {
            font-size: 1.4rem;
            line-height: 1.45;
            flex: 0;
            margin-top: 12px;
        }

        .c-post__btn {
            border: 0;
            background-color: rgb(175, 175, 175);
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            border-radius: 5px;
            width: 100%;
            max-width: 150px;
            height: 50px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: auto;
            margin-left: auto;
            transform: translate(-1px, -1px);
        }
    }

    &--row {
        height: 190px;
        column-gap: 40px;
    }

    &--anchor2 {
        width: 235px;
        margin-bottom: 16px;
    }
}

.c-feature__post {
    width: 300px;
    margin-left: 50px;
    margin-bottom: 46px;
}

.c-blog__post {
    width: calc(50% - 50px);
    margin-left: 50px;
    margin-bottom: 45px;
}

.c-post__title {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 500;
    color: #222;

    &--bold {
        font-weight: 700;
    }
}

.c-post__image {
    height: 185px;
}
