/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table {
    margin-bottom: 49px;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;

    &:last-child {
        margin-bottom: 54px;
    }

    .c-table__caption {
        margin-top: 3px;
        margin-bottom: 20px;
        padding: 10px 14px;
        font-size: 1.6rem;
        line-height: 1.3;
        background-color: #ece6e6;
        color: #222;
    }

    .c-table__link {
        color: #f00;
        text-decoration: underline;
    }

    .c-table__body {
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-spacing: 1px;
        text-align: center;
        width: 490px;
        margin-top: 13px;

        .c-table__heading {
            border: 1px solid #ccc;
            background-color: #acd373;
            color: #fff;
            padding: 5px;
            height: 36px;

            &--gray {
                background-color: #ece6e6;
                width: 66px;
                color: #222;
            }

            &--blue {
                background-color: #6dcff6;
                width: 66px;
                color: #222;

            }
        }

        .c-table__content {
            border: 1px solid #ccc;
            background-color: #fff;
            color: #000;
            padding: 5px;
        }
    }
}

.c-table--full {
    padding-top: 33px;

    .c-table__text {
        font-size: 1.5rem;
        line-height: 1.4;
        color: #222;
    }

    .c-table__body {
        width: 100%;
        margin-top: 9px;
        transform: translateX(-1px);

        .c-table__heading {
            width: 275px;
        }

        .c-table__heading:first-child {
            width: 175px;
        }
    }
}
