.c-banner {
    background: url("/assets/img/bg-header.png");
    height: 360px;
    padding: 40px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;

    .c-banner__inner {
        max-width: 400px;
        color: #222;

        .c-banner__title {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.6;
        }
    }
}
