/* Header
------------------------------------------------------------*/
.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 19px;
    position: relative;
    border-bottom: 1px solid #a8a8a8;
}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    .c-gnav__item {
        display: inline-block;
        margin-left: 28px;
    }

    a {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .is-active {
        font-weight: 700;
    }
}
