<footer class="c-footer">
  <div class="c-footer__top">
    <div class="c-footer__breadcrumb">
      <div class="l-container">
        <p><i class="fa-solid fa-house"></i> HOME</p>
      </div>
    </div>

    <div class="c-footer__menu l-container">
      <div class="c-footer__box">
        <div class="c-box__title">Box link 1</div>

        <ul>
          <li class="c-box__link"><a href="#">Link link</a></li>
          <li class="c-box__link"><a href="#">Link &nbsp;link link</a></li>
          <li class="c-box__link"><a href="#">Link &nbsp;link link link link</a></li>
          <li class="c-box__link"><a href="#">Link link link</a></li>
          <li class="c-box__link"><a href="#">Link link link link</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="l-container">©2019 ALLGROW LABO Inc.</div>
</footer>
