<footer class="c-footer">
  <div class="c-footer__top">
    <div class="c-footer__breadcrumb">
      <div class="l-container">
        <div class="c-breadcrumb c-breadcrumb--bot">
          <a href="#" class="c-breadcrumb__link"> HOME </a>
          <%- (typeof breadcrumb !== 'undefined' ? ` <a href="#" class="c-breadcrumb__page"> ${breadcrumb} </a>` : '' ) %>
         
        </div>
        
      </div>
    </div>

    <div class="c-footer__menu l-container">
      <div class="c-footer__box">
        <div>
          <div class="c-box__title">Box link 1</div>
          <ul class="c-box__list">
            <li class="c-box__link">
              <i class="c-box__icon c-box__icon--circle fa-solid fa-circle"></i
              ><a href="#">Link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon c-box__icon--circle fa-solid fa-circle"></i
              ><a href="#">Link &nbsp;link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon c-box__icon--circle fa-solid fa-circle"></i>
              <a href="#">Link &nbsp;link link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon c-box__icon--circle fa-solid fa-circle"></i>
              <a href="#">Link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon c-box__icon--circle fa-solid fa-circle"></i
              ><a href="#">Link link link link</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="c-box__title">Box link 1</div>
          <ul class="c-box__list">
            <li class="c-box__link">
              <i class="c-box__icon fa fa-chevron-right"></i>

              <a href="#">Link link link link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon fa fa-chevron-right"></i>

              <a href="#">Link&nbsp; link link link link link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon fa fa-chevron-right"></i>

              <a href="#">Link&nbsp; link link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon fa fa-chevron-right"></i>

              <a href="#">Link link link link link link link</a>
            </li>
            <li class="c-box__link">
              <i class="c-box__icon fa fa-chevron-right"></i>

              <a href="#">Link link link link link link link link link</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="c-box__title">Box link 1</div>
          <ul class="c-box__list">
            <li class="c-box__link c-box__link--last">
              <i class="c-box__icon fa fa-link"></i>

              <a href="#">Link link link link link link link link</a>
            </li>
            <li class="c-box__link c-box__link--last">
              <i class="c-box__icon fa fa-link"></i>

              <a href="#">Link&nbsp; link link</a>
            </li>
            <li class="c-box__link c-box__link--last">
              <i class="c-box__icon fa fa-link"></i>

              <a href="#">Link&nbsp; link link link link</a>
            </li>
            <li class="c-box__link c-box__link--last">
              <i class="c-box__icon fa fa-link"></i>

              <a href="#">Link link link link link link link link link link</a>
            </li>
            <li class="c-box__link c-box__link--last">
              <i class="c-box__icon fa fa-link"></i>

              <a href="#">Link link link link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="l-container c-footer__copyright">
    © Copyright Allgrow Labo 2018
  </div>
</footer>
